<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1>Time: {{ timeleft }}</h1>
    </div>
      <h1>Point: {{ point }}</h1>
  </div>

  <div class="row" [ngStyle]="{ marginTop: '5px' }">
    <div class="col-lg-12" [ngSwitch]="isPlayingGame">
      <input class="btn btn-danger" *ngIf="!isPlayingGame" type="button" value="Play Game" (click)="playGame()" />
      <!-- <input class="btn btn-success" *ngIf="isPlayingGame" type="button" value="pause" (click)="pauseGame()" /> -->
      <!-- <input class="btn btn-danger" *ngIf="isPlayingGame" type="button" value="Reset" (click)="resetGame()" /> -->
    </div>
  </div>
  <hr />
  <div class="row" [ngStyle]="{marginTop: '5px'}">
    <div class="col-lg-1" [ngStyle]="{ marginBottom: '5px'}" *ngFor="let number of numbers">
      <input type="button" *ngIf="show" [value]="number" class="btn btn-warning btn-block" [ngClass]="{
          'btn-danger': number <= point
        }" (click)="play(number)" />
    </div>
  </div>
</div>
